/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700,900");
/*FONTS VARIABLES*/
/*COLOR VARIABLES*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p,
a,
i,
li {
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4458dc;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

html {
  font-size: calc(1vw * 1.2);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

@media (max-width: 1440px) {
  html {
    font-size: calc(1vw * 1.4);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: calc(1vw * 1.6);
  }
}

@media (max-width: 960px) {
  html {
    font-size: calc(1vw * 1.7);
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(1vw * 1.9);
  }
}

@media (max-width: 640px) {
  html {
    font-size: calc(1vw * 2.4);
  }
}

@media (max-width: 480px) {
  html {
    font-size: calc(1vw * 3);
  }
}

@media (max-width: 320px) {
  html {
    font-size: calc(1vw * 3);
  }
}

.fab,
.fas {
  display: inline-block;
  width: 35px;
  font-size: 1.1em;
  text-align: center;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  padding: 15px 35px;
  text-align: center;
}

.btn.btn-primary {
  color: white;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#844fee));
  background: linear-gradient(to right, #4458dc 0%, #844fee 100%);
  border: 3px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn.btn-primary:hover {
  color: #4458dc;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #4458dc;
  background: white;
}

.btn.btn-secondary {
  color: #4458dc;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
  background: white;
  border: 3px solid #4458dc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn.btn-secondary:hover {
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #4458dc;
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#844fee));
  background: linear-gradient(to right, #4458dc 0%, #844fee 100%);
}

@media (max-width: 360px) {
  .btn {
    border-radius: 5px;
    padding: 10px 34px;
  }
  .btn.btn-primary {
    color: white;
    border: 1px solid transparent;
  }
  .btn.btn-secondary {
    border: 1px solid #4458dc;
  }
}

.header_section {
  width: 100%;
  z-index: 999;
}

.header_section .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px 20px;
}

.header_section .navbar .logo {
  height: calc(100% + 5px);
  width: 15%;
  cursor: pointer;
}

.header_section .navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
}

.header_section .navbar .nav .nav__link {
  padding: 20px 2vw;
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_section .navbar .nav .nav__link:hover {
  color: #777777;
}

.header_section .navbar .nav .nav__link:last-child {
  padding-right: 0px;
}

.header_section .navbar .nav .nav__item {
  color: #000000;
}

.header_section .navbar .nav .nav__item:hover {
  color: #777777;
}

@media screen and (max-width: 640px) {
  .header_section .navbar {
    padding: 20px 10px;
  }
  .logo {
    padding: 0;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav-wrapper .nav {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  .nav-wrapper .nav .nav__item {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-wrapper .nav .nav__item:nth-child(1) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-wrapper .nav .nav__item:nth-child(2) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .nav-wrapper .nav .nav__item:nth-child(3) a {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .nav-wrapper .nav .nav__item:nth-child(4) a {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  .nav-wrapper .nav .nav__item:nth-child(5) a {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
    border-bottom: none;
  }
  .nav-wrapper .nav .nav__item .nav__link {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hidden {
  display: none;
}

.hero_banner {
  color: #000000;
}

.hero_banner::after {
  content: "Hello !";
  font-size: 10rem;
  line-height: 10rem;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  top: 15%;
  left: -7%;
  z-index: -1;
  border-bottom: 20px solid black;
}

.hero_banner .hero_banner_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_banner .hero_banner_container * {
  line-height: 170%;
  font-weight: 400;
}

.hero_banner .hero_banner_container .hero_banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_banner .hero_banner_container .hero_banner__content .btns-wrapper {
  margin-top: 20px;
}

.hero_banner .hero_banner_container .hero_banner__content h1 span {
  font-weight: 900;
}

.hero_banner .hero_banner_container .hero_banner__content h3 {
  font-weight: 900;
}

.hero_banner .hero_banner_container .hero_banner__img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: right;
}

.hero_banner .hero_banner_container .hero_banner__img img {
  width: 100%;
}

@media (max-width: 640px) {
  .hero_banner::after {
    display: none;
  }
  .hero_banner .hero_banner_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
  }
  .hero_banner .hero_banner_container .hero_banner__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero_banner .hero_banner_container .hero_banner__content .btns-wrapper {
    margin-top: 20px;
  }
  .hero_banner .hero_banner_container .hero_banner__img {
    padding-bottom: 20px;
    width: 68%;
  }
}

.about {
  color: #000000;
  text-align: center;
}

.about h2 {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 200%;
  margin: 20px auto;
}

.about h2 span {
  font-weight: 200;
}

.about h2::after {
  content: "";
  display: block;
  height: 2px;
  background: black;
}

.about .about__container {
  text-align: left;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about__container * {
  line-height: 150%;
  font-weight: 400;
}

.about .about__container .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5%;
}

.about .about__container .about__content .btns-wrapper {
  margin: 50px 0;
}

.about .about__container .about__content h3 {
  font-weight: 900;
}

.about .about__container .about__img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: right;
}

.about .about__container .about__img img {
  width: 100%;
}

@media (max-width: 640px) {
  .about .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__container .about__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__container .about__img {
    width: 68%;
  }
}

.portfolio {
  color: #000000;
  text-align: center;
}

.portfolio h2 {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 200%;
  margin: 20px auto;
}

.portfolio h2::after {
  content: "";
  display: block;
  height: 2px;
  background: black;
}

.portfolio .portfolio__container {
  text-align: left;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio__container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3%;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.02), 10px 0 30px 0px rgba(0, 0, 0, 0.02), -10px 0 30px 0px rgba(0, 0, 0, 0.02), 0 -10px 30px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.02), 10px 0 30px 0px rgba(0, 0, 0, 0.02), -10px 0 30px 0px rgba(0, 0, 0, 0.02), 0 -10px 30px 0px rgba(0, 0, 0, 0.02);
}

.portfolio .portfolio__container .card .card__title {
  font-weight: 900;
  padding: 10px 0;
  text-transform: uppercase;
}

.portfolio .portfolio__container .card .card__desc {
  padding: 10px 0;
}

.portfolio .portfolio__container .card .card__img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: right;
}

.portfolio .portfolio__container .card .card__img img {
  width: 100%;
  margin: 5px auto;
}

.portfolio .portfolio__container .card .btns-wrapper {
  font-weight: 400;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .portfolio__container .card .btns-wrapper .btn {
  width: 48%;
}

@media (max-width: 1440px) {
  .portfolio .portfolio__container .card .btns-wrapper .btn {
    padding: 10px 0;
  }
}

@media (max-width: 960px) {
  .portfolio .portfolio__container .card {
    width: 48%;
  }
}

@media (max-width: 640px) {
  .portfolio .portfolio__container .card {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .portfolio .portfolio__container .card .btns-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .portfolio__container .card .btns-wrapper .btn {
    width: 100%;
    margin: 5px 0;
  }
}

@media (min-width: 1440px) {
  .portfolio .portfolio__container .card .btns-wrapper .btn {
    font-size: 16px;
  }
}

footer {
  background: #16222a;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#3a6073), to(#16222a));
  background: linear-gradient(to right, #3a6073, #16222a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
  height: 80%;
  width: 100%;
  max-width: 1440px;
  line-height: 150%;
  padding: 0 20px;
}

footer .footer__container * {
  line-height: 150%;
}

footer .footer__container div {
  padding: 40px 0;
}

footer .footer__container .created {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .footer__container .contact {
  text-align: left;
}

footer a {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer a:hover {
  color: white;
}

@media (max-width: 640px) {
  footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  footer .footer__container div {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  footer .footer__container .contact {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

canvas {
  z-index: -100;
  opacity: 0.5;
  position: absolute;
}

@media (max-width: 640px) {
  canvas {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */