// ABOUT SECTION

.about {
  color: $title-color;
  text-align: center;
  h2 {
    display: inline-block;
    text-align: center;
    font-size: $font-XXL;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 200%;
    margin: 20px auto;
    span {
      font-weight: 200;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      background: black;
    }
  }
  .about__container {
    text-align: left;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    * {
      line-height: 150%;
      font-weight: 400;
    }
    .about__content {
      display: flex;
      flex-basis: 60%;
      flex-direction: column;
      justify-content: center;
      padding-left: 5%;
      .btns-wrapper {
        margin: 50px 0;
      }
      h3 {
        font-weight: 900;
      }
    }
    .about__img {
      flex-basis: 40%;
      text-align: right;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 960px) {
  .about {
    .about__container {
      font-size: 1.4em;
    }
  }
}

@media (max-width: 720px) {
  .about {
    .about__container {
      font-size: 1.1em;
      h3 {
        font-size: 1.5em;
      }
      h5 {
        font-size: 0.8em;
      }
    }
  }
}

@media (max-width: 639px) {
  .about {
    .about__container {
      flex-direction: column-reverse;
      align-items: center;
      //   padding: 25px;
      .about__content {
        align-items: center;
        // .btns-wrapper {
        //   margin-top: 20px;
        // }
      }
      .about__img {
        width: 68%;
        // margin-top: 12%;
      }
    }
  }
}

@media (max-width: 360px) {
  .about {
    .about__container {
      font-size: 1em;
      .about__content {
        // .btns-wrapper {
        //   margin-top: 40px;
        // }
        h3 {
          font-size: 1.8em;
        }
        h5 {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .about {
    .about__container {
      font-size: 0.9em;
    }
  }
}

// #test {
//   position: relative;
//   // background: rgba(0, 0, 0, 0);
// }
