.hero_banner {
  color: $title-color;
  .hero_banner_container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    * {
      line-height: 170%;
      font-weight: 400;
    }
    .hero_banner__content {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      justify-content: center;
      .btns-wrapper {
        margin-top: 20px;
      }
      h1 {
        span {
          font-weight: 900;
        }
      }
      h3 {
        font-weight: 900;
      }
    }
    .hero_banner__img {
      flex-basis: 50%;
      text-align: right;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 960px) {
  .hero_banner {
    .hero_banner_container {
      font-size: 1.4em;
      .hero_banner__content {
        flex-basis: 60%;
      }
      .hero_banner__img {
        flex-basis: 40%;
      }
    }
  }
}

@media (max-width: 720px) {
  .hero_banner {
    .hero_banner_container {
      font-size: 1.1em;
      h3 {
        font-size: 1.5em;
      }
      h5 {
        font-size: 0.8em;
      }
    }
  }
}

@media (max-width: 639px) {
  .hero_banner {
    .hero_banner_container {
      flex-direction: column-reverse;
      align-items: center;
      padding: 25px;
      .hero_banner__content {
        align-items: center;
        .btns-wrapper {
          margin-top: 20px;
        }
      }
      .hero_banner__img {
        padding-bottom: 20px;
        width: 68%;
      }
    }
  }
}

@media (max-width: 360px) {
  .hero_banner {
    .hero_banner_container {
      font-size: 1em;
      .hero_banner__content {
        .btns-wrapper {
          margin-top: 40px;
        }
        h3 {
          font-size: 1.8em;
        }
        h5 {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .hero_banner {
    .hero_banner_container {
      font-size: 0.9em;
    }
  }
}

// #test {
//   position: relative;
//   // background: rgba(0, 0, 0, 0);
// }
