// HERO BANNER
.hero_banner {
  color: $title-color;
  &::after {
    content: "Hello !";
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 900;
    opacity: 0.1;
    position: absolute;
    top: 15%;
    left: -7%;
    z-index: -1;
    border-bottom: 20px solid black;
  }
  .hero_banner_container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    * {
      line-height: 170%;
      font-weight: 400;
    }
    .hero_banner__content {
      display: flex;
      flex-basis: 60%;
      flex-direction: column;
      justify-content: center;
      .btns-wrapper {
        margin-top: 20px;
      }
      h1 {
        span {
          font-weight: 900;
        }
      }
      h3 {
        font-weight: 900;
      }
    }
    .hero_banner__img {
      flex-basis: 40%;
      text-align: right;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: $md) {
  .hero_banner {
    &::after {
      display: none;
    }
    .hero_banner_container {
      flex-direction: column-reverse;
      align-items: center;
      padding: 25px;

      .hero_banner__content {
        align-items: center;
        .btns-wrapper {
          margin-top: 20px;
        }
      }
      .hero_banner__img {
        padding-bottom: 20px;
        width: 68%;
      }
    }
  }
}
