/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700,900");

/*FONTS VARIABLES*/
$primary-font: "Montserrat", sans-serif;
$title-font: "Rubik", sans-serif;

$font-big: 1.8em;
$font-md: 1.5em;
$font-sm: 1.3em;

/*COLOR VARIABLES*/
$primary-color: #4458dc;
$primary-color2: #854fee;
$title-color: #000000;
$text-color: #777777;
