@import "variables";
// @import "mixins";
@import "reset";
@import "icons";
@import "buttons";
@import "header";
@import "hero";
@import "about";
@import "portfolio";

@import "footer";

// dasdas

canvas {
  z-index: -100;
  opacity: 0.5;
  position: absolute;
}

@media (max-width: 640px) {
  canvas {
    display: none;
  }
}

body::after {
  content: "";
  display: block;
  clear: both;
}
